<h2>Dashboard</h2>
{{#if user.admin}}
  {{#if users}}
  <section class="dashboard">
    <h4>Newly Registered Students</h4>
    {{#each users}}
      {{#if this.admin}}
      {{else}}
      <div class="entry">
        <img src="data:{{this.avatar.img.mimetype}};base64,{{this.avatar.img.encodedData}}">
        <aside>
          <p>{{this.lastName}}, {{this.firstName}}</p>
          <a class="grades-link" href="/users/grades/{{id}}">View grades</a>
          <p>Username: {{this.username}}</p>
          <p>Email: {{this.email}}</p>
        </aside>
      </div>
      {{/if}}
    {{/each}}
  </section>
  {{else}}
  {{/if}}
  <section class="dashboard">
    <h4>Class Options</h4>
    <div class="options-container">
      <div class="options">
        <h5>Manage Students</h5>
        <ul>
          <li>
            <a href="/users/students/view">View all enrolled students</a>
          </li>
          <li>
            <a href="/users/students/add">Enroll a student</a>
          </li>
          <li>
            <a href="/users/students/remove">Drop a student</a>
          </li>
        </ul>
      </div>
      <div class="options">
        <h5>Manage Grades</h5>
        <ul>
          <li>
            <a href="/users/assignments/view">View all assignments</a>
          </li>
          <li>
            <a href="/users/assignments/add">Add an assignment</a>
          </li>
          <li>
            <a href="/users/assignments/remove">Remove an assignment</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {{else}}
  <section class="dashboard">
    <section class="grades-container">
      <h2 class="grades-title">Grades</h2>
      {{#if asgts}}
      <table>
        <tr>
          <th>Assignment</th>
          <th>Grade</th>
          <th>Class Average</th>
        </tr>
        {{#each asgts}}
        <tr>
          <td>{{name}}</td>
          <td>{{grade}}%</td>
          <td>{{lookup ../avgArray @index}}%</td>
        </tr>
        {{/each}}
        <tr class="grade-display">
          <td colspan="3">Overall Grade: {{overallGrade}}%</td>
        </tr>
      </table>
      {{else}}
      <div>
        <h4>You have no graded assignments.</h4>
      </div>
      {{/if}}
    </section>
  </section>
  {{/if}}
