<h2>Register</h2>
<form id="registration-form" method="post" action="/register">
  <div>
    <label class="form-label" for="firstname">First Name</label>
    <input class="form-input" type="text" id="firstname" name="firstName"
      aria-required="true" placeholder="First Name" value="{{firstName}}">
  </div>
  <div>
    <label class="form-label" for="lastname">Last Name</label>
    <input class="form-input" type="text" id="lastname" name="lastName"
      aria-required="true" placeholder="Last Name" value={{lastName}}>
  </div>
  <div>
    <label class="form-label" for="email">Email</label>
    <input class="form-input" type="email" id="email" name="email"
      aria-required="true" placeholder="Email"  value={{email}}>
  </div>
  <div>
    <label class="form-label" for="username">Username</label>
    <input class="form-input" type="text" id="username" name="username"
      aria-required="true" placeholder="Username" value="{{username}}">
  </div>
  <div>
    <label class="form-label" for="password">Password</label>
    <input class="form-input" type="password" id="password" name="password"
      aria-required="true" placeholder="Password">
  </div>
  <div>
    <label class="form-label" for="confirmPassword">Confirm Password</label>
    <input class="form-input" type="password" id="confirmPassword"
      name="confirmPassword" aria-required="true"
      placeholder="Confirm Password">
  </div>
  <div class="radio">
    {{!-- "remembers" gender selection --}}
    {{#if male}}
      <input type="radio" id="male" name="gender" aria-required="true"
        value="male" checked="true">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" aria-required="true"
        value="female">
      <label for="female">Female</label>
    {{else if female}}
      <input type="radio" id="male" name="gender" aria-required="true"
        value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" aria-required="true"
        value="female" checked="true">
      <label for="female">Female</label>
    {{else}}
      <input type="radio" id="male" name="gender"
        aria-required="true" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" aria-required="true"
        value="female">
      <label for="female">Female</label>
    {{/if}}
  </div>
  <input class="submit-btn" type="submit" value="Submit">
</form>
