<h2>Settings</h2>
<section class="settings-container">
  <h4>Update <span class="capitalize">{{updateField}}</span></h4>
  <div class="settings update-settings">
    {{#if isPW}}
    <h5>Please confirm your identity by entering your current password.</h5>
    <form id="update-form" method="post"
      action="/users/settings/update/password">
      <label class="form-label" for="currPW">Current Password</label>
      <input class="form-input" id="currPW" name="currPW"
        type="password" aria-required="true" placeholder="Current Password">
      <label class="form-label" for="newPW">New Password</label>
      <input class="form-input" id="newPW" name="newPW"
        type="password" aria-required="true" placeholder="New Password">
      <label class="form-label" for="confirmPW">Confirm Password</label>
      <input class="form-input" id="confirmPW" name="confirmPW"
        type="password" aria-required="true" placeholder="Confirm Password">
      <input class="submit-btn" type="submit" value="Update">
    </form>
    {{else}}
    <h5>Current <span class="capitalize">{{updateField}}</span>: {{curr}}</h5>
    <form id="update-form" method="post"
      action="/users/settings/update/{{updateField}}">
      <label class="form-label" for="{{updateField}}">
        New {{updateField}}
      </label>
      <input class="form-input" type="text" id="{{updateField}}"
        name="{{updateField}}" aria-required="true"
        placeholder="New {{updateField}}" value="{{new}}">
      <input class="submit-btn" type="submit" value="Update">
    </form>
    {{/if}}
  </div>
</section>
